{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}


    {{ dump(programmes) }}


    <table class="table table-hover">
            <thead>
                <tr class="table-info">
                    <th scope="col">Module</th>
                    <th scope="col">Nb jours</th>
                    <th scope="col">Categorie</th>
                </tr>
            </thead>
            

            <tbody>
            
             
                {% for programme in programmes %}
                   
                    <tr>
                        <td > {{programme.module.nomModule }}  </td>
                        <td > {{programme.nbJour }}  </td>
                        <td > {{programme.module.categorie }}  </td>
                    </tr> 
                {% endfor %}
               





             
            </tbody>

        </table>
       
   

{% endblock %}
